.header
  .header__cover.sub-border
    .header__cover__left.sub-border
      .bord-list.sub-border
      .search-box.sub-border
    .header__cover__right.sub-border
      .add-todo.sub-border
      .user-plofile.sub-border
.contents
  .contents__cover
    .contents__cover__right
      .todo-card
    .contents__cover__center
    .contents__cover__left
.footer
