= render 'header'
.contents
  .contents__cover
    .contents__cover__left.list-cover
      .todo-card
        %p.info-text
          新規の方はボードの作成を右上のボタンから、
          %br
          既存ユーザーの方は左上のボードリストからボードを選択か、
          %br
          新たに作成しましょう!!
    .contents__cover__center.list-cover
    .contents__cover__right.list-cover
= render 'footer'
