.contents {
  min-height: 600px;
  width: 100%;
  padding-top: 60px;
  background-color: $light-bg;
  @include clearfix();
  &__cover {
    min-height: 600px;
    width: 90%;
    margin: 0 auto;
    &__left {
      float: left;
      background-color: $deep-bg;
    }
    &__center {
      float: left;
      background-color: $light-bg;
    }
    &__right {
      float: left;
      background-color: $deep-bg;
    }
  }
}

.list-cover {
  height: 640px;
  width: 33%;
}

.todo-btn {
  height: 30px;
  width: 95%;
  margin: 10px auto;
  border-radius: 10px;
  background-color: $btn-blue;
  :hover {
    cursor: pointer;
    opacity: 0.2;
  }
  p {
    padding-top: 5px;
  }
}

.todo-card {
  background-color: white;
  min-height: 100px;
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 5px;
  .limit-date {
    margin-bottom: 5px;
    border: none;
    font-size: 14px;
  }
  .todo-text {
    margin-bottom: 5px;
    min-height: 50px;
    width: 98%;
    border: none;
  }
  .submit-btn {
    border-radius: 10px;
    background-color: $btn-blue;
    font-size: 14px;
    color: white;
    border-style: none;
    :hover {
      cursor: pointer;
      opacity: 0.2;
    }
  }
  .fa-times {
    margin: 0 10px;
    :hover {
      cursor: pointer;
      opacity: 0.2;
    }
  }
}

.border {
  // border: 1px solid red;
}
