.header {
  height: 60px;
  width: 100%;
  background-color: $background ;
  position: fixed;
  &__profile-list {
    height: 100px;
    width:150px;
    background-color: white;
    float: right;
    margin: 0;
  }
  &__cover {
    height: 80%;
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    &__left {
      height: 90%;
      width: 40%;
      float: left;
    }
    &__right {
      height: 90%;
      width: 20%;
      float: right;
    }
  }
}

.board-list {
  height: 100%;
  width: 40%;
  float: left;
  background-color: $btn;
  @include btn();
}

.search-box {
  position: relative;
  height: 100%;
  width: 55%;
  margin-left: 5px;
  float: left;
  background-color: $btn;
}

.add-todo {
  position: relative;
  height: 100%;
  width: 46%;
  float: left;
  background-color: $btn;
  @include btn();
}

.user-profile {
  position: relative;
  height: 100%;
  width: 48%;
  float: left;
  margin-left: 5px;
  background-color: $btn;
  @include btn();
}


.sub-border {
  border-radius: 10px;
}

.header-user-icon {
  position: absolute;
  left: 40%;
  top: 5px;
  color: white;
}

.header-search-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  color: white;
}

.btn-text {
  text-align: center;
  color: white;
  font-size: 14px;
}

.text-inline {
  padding: 10px;
  list-style: none;
  text-align: center;
  line-height: 30px;
  position: absolute;
  right: 50px;
  li {
    display: list-item;
    border-bottom: solid 1px gray;
  }
}

a {
  text-decoration: none;
}
