.header {
  height: 60px;
  width: 100%;
  background-color: blue;
  &__cover {
    height: 75%;
    width: 100%;
    padding: 5px 10px 0;
    &__left {
      height: 100%;
      width: 40%;
      float: left;
    }
    &__right {
      height: 100%;
      width: 30%;
      float: right;
    }
  }
}

.bord-list {
  height: 100%;
  width: 40%;
  float: left;
  background-color: white;
}

.search-box {
  height: 100%;
  width: 55%;
  margin-left: 5px;
  float: left;
  background-color: white;
}

.add-todo {
  height: 100%;
  width: 40%;
  float: left;
  background-color: white;
}

.user-profile {
  height: 100%;
  weight: 45%;
  float: right;
  background-color: white;
}


.sub-border {
  border: 1px solid red;
}
