.boards-list-cover {
  margin: 0 auto;
  min-height: 400px;
  width: 60%;
  background-color: white;
  text-align: center;
  line-height: 50px;
  ul {
    list-style: none;
    padding: 50px 0;
    margin: 0;
    p {
      font-size: 30px;
    }
    li {
      font-size: 20px;
    }
  }
}
